/* line 1, ../scss/large.scss */
.home-nav {
  font-size: home-scale(72px);
  width: home-scale(1600px);
  height: home-scale(1000px);
  margin-left: home-scale(-300px);
  margin-top: home-scale(-300px);
}
