@import "../bower_components/reset-css/reset";

$s-pad: 25px;
$m-pad: 35px;
$l-pad: 80px;

$calendar-color: #ff0000;
$yeah-color: #0000ff;
$secret-color: #000;

$default-color: $yeah-color;

$default-font-size: 18px;

$animation-time: .5s;

$border-width: 2px;

@mixin color {
    
    & {
        transition: 
            color $animation-time,
            border-color $animation-time,
            -webkit-text-stroke-color $animation-time
    }
    
    .calendar-color & {
        border-color: $calendar-color;
        -webkit-text-stroke-color: $calendar-color;
        
        &.hover {
            color: $calendar-color;
        }
    }
    
    .yeah-color & {
        border-color: $yeah-color;
        -webkit-text-stroke-color: $yeah-color;
        
        &.hover {
            color: $yeah-color;
        }
    }
    
    .secret-page-color & {
        border-color: $secret-color;
        -webkit-text-stroke-color: $secret-color;
        
        &.hover {
            color: $secret-color;
        }
    }
}

@mixin no-transition-color {
    
    .calendar-color & {
        color: $calendar-color;
    }
    
    .yeah-color & {
        color: $yeah-color;
    }
    
    .secret-page-color & {
        color: $secret-color;
    }
}

@mixin bg-color {
    .calendar-color & {
        background-color: $calendar-color;
    }
    
    .yeah-color & {
        background-color: $yeah-color;
    }
    
    .secret-page-color & {
        background-color: $secret-color;
    }
}

@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}

@mixin default-cursor {
  cursor: url('../img/default.png') 0 0, auto;
  cursor: -webkit-image-set(
    url('../img/default.png') 1x,
    url('../img/default@2x.png') 2x
  ) 0 0, auto;
}

@mixin pointer-cursor {
  cursor: url('../img/pointer.png') 17 0, auto;
  cursor: -webkit-image-set(
    url('../img/pointer.png') 1x,
    url('../img/pointer@2x.png') 2x
  ) 17 0, auto;
}

/* GLOBAL */

body, html {
    height: 100%;
}

body {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    @include default-cursor;
}

a {
    text-decoration: none;
    @include pointer-cursor;
}

a:visited {
    color: inherit;
}

.clear {
    clear: both;
}

/* FIXED NAV */

.main-nav {
    text-transform: uppercase;
    font-weight: 700;
    font-size: $default-font-size;
}

$fixed-btn-width: 135px;

.home, .contact {
    position: fixed;
    border: $border-width solid $default-color;
    text-align: center;
    padding: .5em 0;
    width: #{$fixed-btn-width - 2*$border-width};
    z-index: 10;
    background-color: #fff;
    @include color;
    
    a {
        text-decoration: none;
        transition: color $animation-time;
        
        .secret-page-color & {
            color: $secret-color;
        }
        .yeah-color & {
            color: $yeah-color;
        }
        .calendar-color & {
            color: $calendar-color;
        }
    }
}

.home {
    top: $m-pad;
    left: $m-pad;
}

.contact {
    bottom: $m-pad;
    right: $m-pad;
}

/* HOME */

.home-page {
    overflow: hidden;
}

.home-nav {
    font-family: DSBluuNext-Bold;
    font-size: 72px;
    width: 1600px;
    height: 1000px;
    margin-left: -300px;
    margin-top: -300px;
    
    transform: rotate(-45deg);
    
    li {
        display: inline-block;
    }
    
    a {
        -webkit-text-stroke: 1px $default-color;
        color: transparent;
        transition: color $animation-time;
        @include color;
        
        &.hover {
            @include color;
        }
    }
}

/* CONTENT PAGES */

$fixed-btn-height: $default-font-size * 2 + 2 * $border-width;

$content-side-pad: $m-pad + $fixed-btn-width + $m-pad;
$content-top-pad: $m-pad - 16px;

$font-title-size: 110px;

.main-content {
    padding: $content-top-pad $content-side-pad $l-pad;
}

.page-title {
    -webkit-text-stroke: 1px $default-color;
    @include color;
    color: transparent;
    font-size: $font-title-size;
    font-family: DSBluuNext-Bold;
    text-align: center;
    margin-bottom: $l-pad;
}

/* BLOG (YEAH, SECRET) */
.post {
    margin-top: $l-pad;
    font-size: 21px;
    
    img {
        width: 100%;
        height: auto;
    }
    
    p {
        line-height: 1.38em;
        clear: both;
        @include no-transition-color;
    }
}

.post-header {
    text-transform: uppercase;
    @include no-transition-color;
    font-weight: 700;
    
    .post-title, .post-date {
        margin-bottom: $s-pad;
    }
    
    .post-title {
        float: left;
    }
    
    .post-date {
        float: right;
        line-height: 1;
        clear: none;
    }
}

// AUDIO

.audio-player {
    
    clear: both;
    
    img {
        width: auto;
    }

}

iframe[src*="soundcloud"] {
    display: none;
}

.audio-top {
    border: $border-width solid $default-color;
    height: 172px;
    @include color;
}

.play-button, .pause-button {
    @include color;
    float: left;
    padding: 41px 45px;
    border-right: $border-width solid $default-color;
    @include pointer-cursor;
    
    
}

.play-button {
    .playing & {
        display: none;
    }
}

.pause-button {
    display: none;
    padding: 46px 49.5px;
    
    .playing & {
        display: block;
    }
}

.waveform {
    @include color;
    display: block;
    height: 100%;
    padding: 15px 22px 15px (22px + 167px);
    position: relative;
    z-index: -1;
    
    box-sizing: border-box;
    
    .wavebar {
        width: 7px;
        display: inline-block;
        background-color: $default-color;
        margin: 0 2px;
        @include bg-color;
    }
}

.info-bar {
    border: $border-width solid $default-color;
    border-top: none;
    padding: 12px $s-pad;
    font-weight: 700;
    @include no-transition-color;
    @include color;
    
    img {
        margin-left: 15px;
        margin-right: -5px;
    }
}

.track-name {
    width: 50%;
    float: left;
}

.track-info {
    float: right;
}

.reposts {
    img {
        height: 16px;
    }
}

.comments {
    img {
        height: 19px;
        margin-bottom: -3px;
    }
}

.plays {
    img {
        height: 15px;
    }
}

/* CALENDAR */

.calendar-wrap {
    display: table;
    width: 100%;
    @include no-transition-color;
    font-weight: 700;
    font-size: 18px;
    
    a {
        @include no-transition-color;
        text-decoration: underline;
    }
}

.calendar-entry {
    display: table-row;
}

.location-artists, .tix-wrap, .date-time {
    display: table-cell;
    vertical-align: bottom;
    border-top: solid 2px $calendar-color;
    padding: 30px 0;
    line-height: 1.4em;
    
    :last-of-type > & {
        
        border-bottom: solid 2px $calendar-color;
    }
}

.location-artists {
    width: 56%;
}

.tix-wrap {
    text-align: center;
}

.date-time {
    text-align: right;
}

/* SECRET PASSWORD */

.secret-page-color.secret-password {
    input {
        width: 100%;
        border: 2px solid $secret-color;
        font-size: 85px;
        font-family: DSBluuNext-Bold;
        padding-bottom: 15px;
        margin-top: $l-pad - 20px;
        
        &:focus {
            outline: none;
        }
    }
    
    .page-title {
        margin-bottom: 0;
    }
    
    .main-content {
        text-align: center;
        padding-top: 0;
        position:relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.s2-btn {
    font-size: 24px;
    color: #fff;
    @include bg-color;
    -webkit-appearance: none;
    border: none;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    padding: 10px 70px;
    margin: $l-pad auto 0;
    display: inline-block;
}

/* SECRET PAGE */

$ticker-height: 50px;

.has-ticker {
    .main-content {
        padding-top: $content-top-pad + $ticker-height;
    }
    
    .home {
        top: $m-pad + $ticker-height;
    }
}

.ticker {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: $ticker-height;
    background-color: $secret-color;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    overflow: hidden;
    
    span {
        width: 250px;
        display: inline-block;
        line-height: $ticker-height;
        vertical-align: middle;
        text-align: center;
    }
}

/* POPUPS */

.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup-box {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    background-color: #fff;
    text-align: center;
    max-width: 700px;
    padding-bottom: $l-pad;
    border: 2px solid $default-color;
    font-weight: 700;
    font-size: 24px;
    color: $default-color;
    @include color;
    @include no-transition-color;
    
    p {
        margin-bottom: 1em;
    }
    
    .s2-btn {
        margin-top: 0;
    }
}

.popup-close {
    font-size: 48px;
    font-weight: 700;
    text-align: right;
    display: inline-block;
    position: absolute;
    top: $s-pad;
    right: $s-pad;
}

.popup-title {
    font-size: 102px;
    margin-top: $m-pad + 48px + $s-pad;
    margin-bottom: $l-pad;
    text-transform: uppercase;
}