@import "../bower_components/reset-css/reset";

$s-pad: 25px;
$m-pad: 35px;
$l-pad: 80px;

$calendar-color: #ff0000;
$yeah-color: #0000ff;
$secret-color: #000;

$default-color: $yeah-color;

$default-font-size: 18px;

$animation-time: .5s;

$border-width: 2px;

@mixin color {
    
    & {
        transition: 
            color $animation-time,
            border-color $animation-time,
            -webkit-text-stroke-color $animation-time
    }
    
    .calendar-color & {
        border-color: $calendar-color;
        -webkit-text-stroke-color: $calendar-color;
        
        &.hover {
            color: $calendar-color;
        }
    }
    
    .yeah-color & {
        border-color: $yeah-color;
        -webkit-text-stroke-color: $yeah-color;
        
        &.hover {
            color: $yeah-color;
        }
    }
    
    .secret-page-color & {
        border-color: $secret-color;
        -webkit-text-stroke-color: $secret-color;
        
        &.hover {
            color: $secret-color;
        }
    }
}

@mixin no-transition-color {
    
    .calendar-color & {
        color: $calendar-color;
    }
    
    .yeah-color & {
        color: $yeah-color;
    }
    
    .secret-page-color & {
        color: $secret-color;
    }
}

@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}

/* GLOBAL */

body {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.clear {
    clear: both;
}

/* FIXED NAV */

.main-nav {
    text-transform: uppercase;
    font-weight: 700;
    font-size: $default-font-size;
}

$fixed-btn-width: 135px;

.home, .contact {
    position: fixed;
    border: $border-width solid $default-color;
    text-align: center;
    padding: .5em 0;
    width: #{$fixed-btn-width - 2*$border-width};
    z-index: 10;
    background-color: #fff;
    @include color;
    
    a {
        text-decoration: none;
        transition: color $animation-time;
        
        .secret-page-color & {
            color: $secret-color;
        }
        .yeah-color & {
            color: $yeah-color;
        }
        .calendar-color & {
            color: $calendar-color;
        }
    }
}

.home {
    top: $m-pad;
    left: $m-pad;
}

.contact {
    bottom: $m-pad;
    right: $m-pad;
}

/* HOME */

.home-page {
    overflow: hidden;
}

.home-nav {
    font-family: DSBluuNext-Bold;
    font-size: 72px;
    width: 1600px;
    height: 1000px;
    margin-left: -300px;
    margin-top: -300px;
    
    transform: rotate(-45deg);
    
    li {
        display: inline-block;
    }
    
    a {
        -webkit-text-stroke: 1px $default-color;
        color: transparent;
        transition: color $animation-time;
        @include color;
        
        &.hover {
            @include color;
        }
    }
}

/* CONTENT PAGES */

$fixed-btn-height: $default-font-size * 2 + 2 * $border-width;

$content-side-pad: $m-pad + $fixed-btn-width + $m-pad;
$content-top-pad: $m-pad;

$font-title-size: 78px;

.main-content {
    padding: $content-top-pad $content-side-pad;
}

.page-title {
    -webkit-text-stroke: 1px $default-color;
    @include color;
    color: transparent;
    font-size: $font-title-size;
    font-family: DSBluuNext-Bold;
    text-align: center;
    margin-bottom: $l-pad;
}

/* BLOG (YEAH, SECRET) */
.post {
    margin-top: $l-pad;
    font-size: 21px;
    
    img {
        width: 100%;
        height: auto;
    }
    
    p {
        line-height: 1.38em;
        clear: both;
        @include no-transition-color;
    }
}

.post-header {
    text-transform: uppercase;
    @include no-transition-color;
    font-weight: 700;
    
    .post-title, .post-date {
        margin-bottom: $s-pad;
    }
    
    .post-title {
        float: left;
    }
    
    .post-date {
        float: right;
        line-height: 1;
        clear: none;
    }
}

// AUDIO

.audio-player {
    
    clear: both;
    
    img {
        width: auto;
    }

}

iframe[src*="soundcloud"] {
    display: none;
}

.audio-top {
    border: $border-width solid $default-color;
    height: 172px;
}

.play-button, .pause-button {
    @include color;
    float: left;
    padding: 41px 45px;
    border-right: $border-width solid $default-color;
}

.play-button {
    .playing & {
        display: none;
    }
}

.pause-button {
    display: none;
    padding: 46px 49.5px;
    
    .playing & {
        display: block;
    }
}

.waveform {
    @include color;
    display: block;
    height: 100%;
    padding: 15px 22px 15px (22px + 167px);
    position: relative;
    z-index: -1;
    
    box-sizing: border-box;
    
    .wavebar {
        width: 7px;
        display: inline-block;
        background-color: $default-color;
        margin: 0 2px;
    }
}

.info-bar {
    border: $border-width solid $default-color;
    border-top: none;
    padding: 12px $s-pad;
    font-weight: 700;
    @include no-transition-color;
    
    img {
        margin-left: 15px;
        margin-right: -5px;
    }
}

.track-name {
    width: 50%;
    float: left;
}

.track-info {
    float: right;
}

.reposts {
    img {
        height: 16px;
    }
}

.comments {
    img {
        height: 19px;
        margin-bottom: -3px;
    }
}

.plays {
    img {
        height: 15px;
    }
}
